@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');


:root {
  --bg-theme-background-color: #0e0b1f;          /* Deep space blue - rich dark background */
  --primary-theme-main-color: #ff6ec7;     /* Neon pink-magenta - modern highlight */
  --text-theme-sub-text-color: #f4f4f5;        /* Soft off-white - high readability */
  --nav-bg-color: #1a1333;      /* Muted dark violet - navbar contrast */
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    height: 100%;
    

}
body{
    background: var(--bg-theme-background-color);
    height: 100%;
     
}
#root{
    height: 100%;
}
